
<ion-header>
    <ion-navbar>
        <ion-title>{{ "SPH LIST" | translate }}</ion-title>
    </ion-navbar>
    <ion-searchbar [(ngModel)]="searchUserM" (ionInput)="searchUser($event)" name="searchUserBar" placeholder="{{ 'SEARCH' | translate }}"></ion-searchbar>
</ion-header>
<ion-content fullscreen="false"  [ngBusy]="{busy: busy, message:busyMessage, minDuration: 600}">
   
   
    <h3 class="custT pointV" *ngIf="userListDataArrs.length>0">{{ "SELECT SPH" | translate }}</h3>
    <div class="rdIn" [(ngModel)]="selectedUserId" #selectedUserN="ngModel" required [ngModelOptions]="{standalone: true}" radio-group>
    <div class="flexWrap lineInOne" *ngFor="let userListDataArr of userListDataArrs;let i=index">
        <span class="indexVisit">{{(i+1)}}</span>
        <ion-item>
            <ion-label class="visitDate">{{userListDataArr?.name}}</ion-label>
            <ion-radio value="{{userListDataArr.uid}}" (click)="selectUserF(userListDataArr)"></ion-radio>
        </ion-item>
    </div>
    </div>
    <ion-list class="listWrap" *ngIf="userListDataArrs.length==0">
            <div >
                 <h2 class="noData contMid">{{"NO SPH FOUND" | translate }}</h2>
            </div>
    </ion-list>

</ion-content>
<ion-footer class="ntpr">
    <div class="homeFt" [hidden]="userListDataArrs.length==0">
        <div class="btn">
            <button ion-button type="button" (click)="activateSph()">
                {{ "ACTIVATE" | translate }}
            </button>
        </div>
    </div>
</ion-footer>
