<!--
  Generated template for the RedeemHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content fullscreen="false" [ngBusy]="{busy: busy, message:busyMessage, minDuration: 600}">
    <h4 class="totalR" *ngIf="receipts.length != 0">{{ "TOTAL POINTS REDEEM TILL TODAY" | translate}}: {{totalPoints}}</h4>
    <div *ngIf="receipts.length == 0">
        <h2 class="noData contMid">{{ "NO REDEEM RECEIPTS FOUND" | translate }}</h2>
    </div>
    <ion-list class="listWrap">
        <!--    <div class=" itemWrap ">
            <ion-item class="listItem receipt ">
                <div class="flexWrap mobileWrap ">
                    <div class="projectWrap reedem-left ">
                        <p class="value ">Sandwich Makers</p>
                        <span class="gridValue ">Sandwich Makers</span>-->
        <!--</div>
                    <div class="projectWrap reedem-right ">
                        <p class="value diffDate pointV ">1 May 17</p>
                        <span class="value points diffDate "> 12000 points</span>
                    </div>
                </div>

            </ion-item>
        </div>
        <div class="itemWrap ">
            <ion-item class="listItem receipt ">
                <div class="flexWrap mobileWrap ">
                    <div class="projectWrap reedem-left ">
                        <p class="value ">Ceramic Mug</p>
                        <p class="value ">Sandwich Makers</p>
                    </div>
                    <div class="projectWrap reedem-right ">
                        <p class="value diffDate pointV ">1 May 17</p>
                        <span class="value points diffDate "> 12000 points</span>
                    </div>
                </div>

            </ion-item>
        </div>-->
        <div class="itemWrap" *ngFor="let receipt of receipts">
            <ion-item class="listItem receipt ">
                <div class="flexWrap mobileWrap ">
                    <div class="projectWrap reedem-left ">
                        <p class="value ">{{receipt.reward_name}}</p>
                        <!-- <p class="value ">Sandwich Makers</p> -->
                    </div>
                    <div class="projectWrap reedem-right ">
                        <p class="value diffDate pointV ">{{receipt.created_date}}</p>
                        <!--<span class="value points diffDate "> 12000 points</span>-->
                    </div>
                </div>
                <ion-grid class="gridWrap ">
                    <ion-row>
                        <ion-col>
                            <div class="projectWrap contMid ">
                                <span class="gridValue pColor " *ngIf="receipt.status == 0"><i class="icon-pending "></i>{{ "PENDING" | translate }}</span>
                                <span class="gridValue dColor " *ngIf="receipt.status == 1"><i class="icon-approved "></i>{{ "APPROVED" | translate }}</span>
                                <span class="gridValue fColor " *ngIf="receipt.status == -1"><i class="icon-failed "></i>{{ "REJECTED" | translate }}</span>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="projectWrap rightAlign ">
                                <p class="title ">{{ "POINTS" | translate }}</p>
                                <span class="gridValue pointV ">{{receipt['points_redeemed'].toLocaleString(appCom.getCurrCCode())}}</span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-item>
            <div class="filterTag resultbg" *ngIf="receipt.status == -1 && receipt.rejected_reason != null  && receipt.rejected_reason != ''">
                <p class="resultRes">{{ "REJECT REASON" | translate }}:</p>
                <p>{{receipt.rejected_reason}}</p>
            </div>
        </div>
        <!--<div class="itemWrap ">
        <ion-item class="listItem receipt ">
            <div class="flexWrap mobileWrap ">
                <div class="projectWrap reedem-left ">
                    <p class="value ">Ceramic Mug</p>
                    <p class="value ">Sandwich Makers</p>
                </div>
                <div class="projectWrap reedem-right ">
                    <p class="value diffDate pointV ">1 May 17</p>
                    <span class="value points diffDate "> 12000 points</span>-->
        <!--</div>
            </div>
            <ion-grid class="gridWrap ">
                <ion-row>
                    <ion-col>
                        <div class="projectWrap contMid ">
                            <span class="gridValue pColor "><i class="icon-pending "></i>Pending</span>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="projectWrap rightAlign ">
                            <p class="title ">Points</p>
                            <span class="gridValue pointV ">30000</span>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-item>
    </div>
    <div class="itemWrap ">
        <ion-item class="listItem receipt ">
            <div class="flexWrap mobileWrap ">
                <div class="projectWrap reedem-left ">
                    <p class="value ">Ceramic Mug</p>
                    <p class="value ">Sandwich Makers</p>
                </div>
                <div class="projectWrap reedem-right ">
                    <p class="value diffDate pointV ">1 May 17</p>
                    <span class="value points diffDate "> 12000 points</span>-->
        <!--</div>
            </div>
            <ion-grid class="gridWrap ">
                <ion-row>
                    <ion-col>
                        <div class="projectWrap contMid ">
                            <span class="gridValue fColor "><i class="icon-failed "></i>Rejected</span>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div class="projectWrap rightAlign ">
                            <p class="title ">Points</p>
                            <span class="gridValue pointV ">30000</span>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-item>
    </div>
    -->

    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="!dataLoadCompleted">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>