<div class="editPicWrap">
    <ion-list>
        <ion-list-header class="marg-bottom">{{ "SELECT AN OPTION" | translate }}</ion-list-header>
        <button ion-item (click)="SelectGallery()" tappable *ngIf="allowGalleryPhotoSource"><ion-icon name="images"></ion-icon>          {{ "FROM GALLERY" | translate }}</button>
        <button ion-item (click)="SelectCamera()" tappable *ngIf="allowCamPhotoSource"><ion-icon name="camera"></ion-icon>{{ "TAKE PICTURE" | translate }}</button>
        <button ion-item (click)="selectFromDocuments()" tappable *ngIf="allowFileSource">  <ion-icon name="folder"></ion-icon>{{ "UPLOAD FILES" | translate }}</button>
        <!--<button ion-item (click)="SelectGallery()" tappable><span class="icon-Gallery iconNoPad"></span>From Gallery</button>
        <button ion-item (click)="SelectCamera()" tappable><span class="icon-Camera iconNoPad"></span>Take Picture</button>-->
    </ion-list>
</div>
