<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
        <ion-buttons class="iconLeft">
            <button ion-button class="logo"></button>
        </ion-buttons>
        <ion-buttons end>
            <!--<button ion-button class="icon-notification" tapable (click)="goToNotifyPage()">
                <!-- <ion-badge class="badge-value">1</ion-badge> -->
            <!--</button>-->
            <button ion-button icon-only class="spinnerI" (click)="globalSync()">
        <img src="assets/images/white-sync-icon.png" [ngClass]="{ 'spinRt': globalSyncLoaderBtn }" title="sync" alt="sync Icon" />
      </button>
            <button ion-button iconHome menuToggle>
        <i class="icon-menu" name="menu"></i>
      </button>
        </ion-buttons>
    </ion-navbar>
    <div class="outerSelect headerSelect">
        <ion-list class="seleRole">
            <ion-item class="inputLable">
                <!--<ion-select [(ngModel)]="selectedDistrict" (ionChange)="selectDistrict()" placeholder="Select District">
                <ion-option value="all">{{ "All" | translate }}</ion-option>
                <ion-option *ngFor="let district of districtData" value="{{district.district_id}}">{{district.district_name}}</ion-option>
            </ion-select>-->
                <ion-input [(ngModel)]="selectedDistrict" mbsc-select [mbsc-options]="mobiScollDistrictSelectSettings" [mbsc-data]="districtData" #districtMob="mobiscroll" #selectDistrictId="ngModel" required [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
        </ion-list>
    </div>
</ion-header>
<ion-content fullscreen="false" [ngBusy]="{busy: busy,message:busyMessage, minDuration: 600}">
    <super-tabs class="homeTab">
        <super-tab [root]="page1" title="{{ 'SRKU' | translate }} "></super-tab>
        <super-tab [root]="page2" title="{{ 'SWITCHING' | translate }} "></super-tab>
        <super-tab [root]="page3" title="{{ 'MAINTAIN' | translate }} "></super-tab>
        <super-tab [root]="page4" title="{{ 'NEW MEMBER' | translate }} "></super-tab>
    </super-tabs>
    <!-- <div class="blackShade"></div>
   <ion-grid class="cardBgOne">
        <ion-row class="crdAll">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>Today's Target</p>
                <h3>1500 <sub>ton</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>Today's Achievement</p>
                <h3>600 <sub>ton</sub></h3>
            </ion-col>
        </ion-row>
        <ion-row class="crdAll cardDiff">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>Monthly Target</p>
                <h3>21500 <sub>ton</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>Current Achievement</p>
                <h3>1600 <sub>ton</sub></h3>
            </ion-col>
        </ion-row>
    </ion-grid>-->
    <!--<form class="seleRole">
        <ion-list class="inputBox">
            <div class="rdIn">
                <ion-item class="inputLable">
                    <ion-label floating>Select AC</ion-label>
                    <ion-select>
                        <ion-option value="Bali">Bali</ion-option>
                        <ion-option value="Banten">Banten</ion-option>
                    </ion-select>
                </ion-item>
            </div>
        </ion-list>
    </form>-->
    <div class="outerSelect">
        <ion-list class="seleRole" *ngIf="noAc == false">
            <ion-item class="inputLable">
                <!--<ion-select [(ngModel)]="selectedAc" (ionChange)="selectAc()" placeholder="Select AC">
                <ion-option value="all">{{ "All" | translate }}</ion-option>
                <ion-option *ngFor="let ac of acData" value="{{ac.uid}}">{{ac.name}}</ion-option>
            </ion-select>-->
                <ion-input [(ngModel)]="selectedAc" mbsc-select [mbsc-options]="mobiScollAcSelectSettings" [mbsc-data]="acData" #acSelectMob="mobiscroll" #acSelectId="ngModel" required [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
        </ion-list>
    </div>
    <!-- <h5 class="region"><span class="regTitle">{{ "REGION" | translate }}:</span> <span class="regZone">West Java</span></h5> -->
    <!--
        <h4 class="personTitle">{{ "SRKU" | translate }}</h4>
        <ion-row class="crdAll">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S TARGET" | translate }}</p>
                <h3>1500 <sub>ton</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S ACHIEVEMENT" | translate }}</p>
                <h3>600 <sub>ton</sub></h3>
            </ion-col>
        </ion-row>
        <ion-row class="crdAll cardDiff">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "MONTHLY TARGET" | translate }}</p>
                <h3>21500 <sub>ton</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "CURRENT ACHIEVEMENT" | translate }}</p>
                <h3>1600 <sub>ton</sub></h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="personData">
        <h4 class="personTitle">{{ "SWITCHING" | translate }}</h4>
        <ion-row class="crdAll">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S TARGET" | translate }}</p>
                <h3>1500 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S ACHIEVEMENT" | translate }}</p>
                <h3>600 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
        <ion-row class="crdAll cardDiff">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "MONTHLY TARGET" | translate }}</p>
                <h3>21500 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "CURRENT ACHIEVEMENT" | translate }}</p>
                <h3>1600 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="personData">
        <h4 class="personTitle">{{ "MAINTAIN" | translate }}</h4>
        <ion-row class="crdAll">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S TARGET" | translate }}</p>
                <h3>1500 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S ACHIEVEMENT" | translate }}</p>
                <h3>600 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
        <ion-row class="crdAll cardDiff">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "MONTHLY TARGET" | translate }}</p>
                <h3>21500 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "CURRENT ACHIEVEMENT" | translate }}</p>
                <h3>1600 <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="personData">
        <h4 class="personTitle">{{ "NEW MEMBER" | translate }}</h4>
        <ion-row class="crdAll cardDiff">
            <ion-col class="crdOne"><span class="preVal">100%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "MONTHLY TARGET" | translate }}</p>
                <h3>25</h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "CURRENT ACHIEVEMENT" | translate }}</p>
                <h3>19</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
-->
    <div *ngIf="display == false && noAc == true">
        <h2 class="noData">{{ "NO AC FOUND" | translate }}</h2>
    </div>
    <div *ngIf="display == false && noAc == false">
        <h2 class="noData">{{ "NO STATS TO DISPLAY" | translate }}</h2>
    </div>
    <ion-grid class="personData" *ngIf="display">
        <h4 class="personTitle">{{ "SRKU" | translate }}</h4>
        <ion-row class="crdAll cardBlack">
            <ion-col class="crdOne"><span class="preVal">{{srkuData.todaysPercentage}}%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S TARGET" | translate }}</p>
                <h3>{{srkuData.todays_target ? srkuData.todays_target:0}} <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S ACHIEVEMENT" | translate }}</p>
                <h3>{{srkuData.todays_achievement ? srkuData.todays_achievement:0}} <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
        <ion-row class="crdAll" [ngClass]="{ 'cardDiff':todayActualPerc>srkuData.monthlyPercentage }">
            <ion-col class="crdOne"><span class="preVal">{{srkuData.monthlyPercentage}}%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "MONTHLY TARGET" | translate }}</p>
                <h3>{{srkuData.monthly_target ? srkuData.monthly_target:0}} <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "CURRENT ACHIEVEMENT" | translate }}</p>
                <h3>{{srkuData.achieved_target ? srkuData.achieved_target:0}} <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="personData" *ngIf="display">
        <h4 class="personTitle">{{ 'SWITCHING ' | translate }}</h4>
        <ion-row class="crdAll cardBlack">
            <ion-col class="crdOne"><span class="preVal">{{switchingData.todaysPercentage}}%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S TARGET" | translate }}</p>
                <h3>{{switchingData.todays_target ? switchingData.todays_target:0}} <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S ACHIEVEMENT" | translate }}</p>
                <h3>{{switchingData.todays_achievement ? switchingData.todays_achievement:0}} <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
        <ion-row class="crdAll" [ngClass]="{ 'cardDiff':todayActualPerc>switchingData.monthlyPercentage }">
            <ion-col class="crdOne"><span class="preVal">{{switchingData.monthlyPercentage}}%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "MONTHLY TARGET" | translate }}</p>
                <h3>{{switchingData.monthly_target ? switchingData.monthly_target:0}} <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "CURRENT ACHIEVEMENT" | translate }}</p>
                <h3>{{switchingData.achieved_target ? switchingData.achieved_target:0}} <sub>ton</sub></h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="personData" *ngIf="display">
        <h4 class="personTitle">{{ 'MAINTAIN ' | translate }}</h4>
        <ion-row class="crdAll cardBlack">
            <ion-col class="crdOne"><span class="preVal">{{maintainData.todaysPercentage}}%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S TARGET" | translate }}</p>
                <h3>{{maintainData.todays_target ? maintainData.todays_target:0}} <sub>ton</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S ACHIEVEMENT" | translate }}</p>
                <h3>{{maintainData.todays_achievement ? maintainData.todays_achievement:0}} <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
        <!--        <ion-row class="crdAll cardDiff"> -->
        <ion-row class="crdAll" [ngClass]="{ 'cardDiff':todayActualPerc>maintainData.monthlyPercentage }">
            <ion-col class="crdOne"><span class="preVal">{{maintainData.monthlyPercentage}}%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "MONTHLY TARGET" | translate }}</p>
                <h3>{{maintainData.monthly_target ? maintainData.monthly_target:0}} <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "CURRENT ACHIEVEMENT" | translate }}</p>
                <h3>{{maintainData.achieved_target ? maintainData.achieved_target:0}} <sub>{{ "TON" | translate }}</sub></h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="personData" *ngIf="display">
        <h4 class="personTitle">{{ 'NEW MEMBER ' | translate }}</h4>
        <ion-row class="crdAll" [ngClass]="{ 'cardDiff':todayActualPerc>newMemberData.monthlyPercentage }">
            <ion-col class="crdOne"><span class="preVal">{{newMemberData.monthlyPercentage}}%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "MONTHLY TARGET" | translate }}</p>
                <h3>{{newMemberData.monthly_target ? newMemberData.monthly_target:0}}</h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "CURRENT ACHIEVEMENT" | translate }}</p>
                <h3>{{newMemberData.achieved_target ? newMemberData.achieved_target:0}}</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <ion-grid class="personData" *ngFor="let prodArr of prodArrObj">
        <h4 class="personTitle">{{prodArr['target_for']}}</h4>
        <ion-row class="crdAll cardBlack">
            <ion-col class="crdOne"><span class="preVal">{{prodArr['productsTodayTargetAchievPerc']?prodArr['productsTodayTargetAchievPerc']:"0"}}%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S TARGET" | translate }}</p>
                <h3>{{prodArr['productsTodayTarget']?prodArr['productsTodayTarget']:"0"}}</h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "TODAY'S ACHIEVEMENT" | translate }}</p>
                <h3>{{prodArr['productsTodayAchievementTarget']?prodArr['productsTodayAchievementTarget']:"0"}}</h3>
            </ion-col>
        </ion-row>
       
        <ion-row class="crdAll" [ngClass]="{ 'cardDiff':prodArr['todayActualPerc']>prodArr['productsMonthlyTargetAchievPerc'] }">
            <ion-col class="crdOne"><span class="preVal">{{prodArr['productsMonthlyTargetAchievPerc']?prodArr['productsMonthlyTargetAchievPerc']:"0"}}%</span></ion-col>
            <ion-col class="crdTwo">
                <p>{{ "MONTHLY TARGET" | translate }}</p>
                <h3>{{prodArr['productsMonthlyTarget']?prodArr['productsMonthlyTarget']:"0"}}</h3>
            </ion-col>
            <ion-col class="crdTwo">
                <p>{{ "CURRENT ACHIEVEMENT" | translate }}</p>
                <h3>{{prodArr['achieved_target']?prodArr['achieved_target']:"0"}}</h3>
            </ion-col>
        </ion-row>
    </ion-grid> -->
</ion-content>