<ion-header>
    <ion-navbar>
        <ion-title>{{ "CHECK PRODUCT PERFORMANCE" | translate }}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content  [ngBusy]="{busy: busy,minDuration: 600}">
    <div class="perfWrap" *ngFor="let prodArr of prodArrObj">
        <div class="perItem" >
            <h2>{{prodArr['target_for']}}</h2>
            <ion-grid class="productBg">
                <ion-row class="crdAll">
                    <ion-col class="crdOne"><span class="preVal">{{prodArr['productsTodayTargetAchievPerc']?prodArr['productsTodayTargetAchievPerc']:"0"}}%</span></ion-col>
                    <ion-col class="crdTwo">
                        <p>{{ "TODAY'S TARGET" | translate }}</p>
                        <h3>{{prodArr['productsTodayTarget']?prodArr['productsTodayTarget']:"0"}}</h3>
                        <!-- <sub>{{ "TON" | translate }}</sub> -->
                    </ion-col>
                    <ion-col class="crdTwo">
                        <p>{{ "TODAY'S ACHIEVEMENT" | translate }}</p>
                        <h3>{{prodArr['productsTodayAchievementTarget']?prodArr['productsTodayAchievementTarget']:"0"}}</h3>
                    </ion-col>
                </ion-row>
                <!-- <ion-row class="crdAll cardDiff"> -->
                <ion-row class="crdAll cardDiff" [ngClass]="{ 'cardDiff':prodArr['todayActualPerc']>prodArr['productsMonthlyTargetAchievPerc'] }">
                    <ion-col class="crdOne"><span class="preVal">{{prodArr['productsMonthlyTargetAchievPerc']?prodArr['productsMonthlyTargetAchievPerc']:"0"}}%</span></ion-col>
                    <ion-col class="crdTwo">
                        <p>{{ "MONTHLY TARGET" | translate }}</p>
                        <h3>{{prodArr['productsMonthlyTarget']?prodArr['productsMonthlyTarget']:"0"}}</h3>
                    </ion-col>
                    <ion-col class="crdTwo">
                        <p>{{ "CURRENT ACHIEVEMENT" | translate }}</p>
                        <h3>{{prodArr['achieved_target']?prodArr['achieved_target']:"0"}}</h3>
                    </ion-col>
                </ion-row>
                <ion-row class="crdAll cardDiff cardNoBorder">
                     <!-- <ion-col class="crdOne"><span class="preVal">{{srkuMonthlyTargetAchievPerc?srkuMonthlyTargetAchievPerc:"0"}}%</span></ion-col>  -->
                    <ion-col class="crdOne"></ion-col>
                    <ion-col class="crdTwo">
                        <p>{{ "ESTIMATED TARGET" | translate }}</p>
                        <h3>{{prodArr['estimatedTarget']?prodArr['estimatedTarget']:"0"}} <sub>ton</sub></h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
    <div class="noresult" *ngIf="prodArrObj.length==0">
        <p>No Stats Found</p>
    </div>
</ion-content>