.mbsc-material {
    .mbsc-fr-btn-w {
        width: 100%;
        text-align: center;
        border-right: 2px $solid $white-color;

        &:last-child {
            border-right: 0;
        }
    }
    .mbsc-fr-btn-cont {
        background: $btn-color;
        display: flex;
        padding: $zero;
    }
    .mbsc-fr-btn {
        padding: 0.5em 1em;
        height: auto;
        color: $white-color;
    }
    .mbsc-sc-itm {
        padding: 3px .272727em;
        font-size: 18px;
    }
    .mbsc-sc-whl-l {
        border-bottom: 2px solid #ff0000;
        border-top: 2px solid #ff0000;
    }
    .mbsc-sc-itm {
        font-size: $size - .5;
        text-align: left;
        padding: 0;
        margin: 0 1rem;
        padding-top: 4px;

        &.mbsc-ic-material-check {
            padding-right: 45px;
        }
        &:first-child, &:last-child {
            border-bottom: 0;
        }
        @include media-query-max(320px) {
            font-size: $size - .5;
        }
    }
    .mbsc-sc-whl-multi {
        .mbsc-sc-itm-sel {
            &:before {
                color: $btn-color;
                right: 0;
                left: auto;
                font-size: 30px;
            }
        }
    }
}
.mbsc-sc-whl {
    padding: 10px 0;
}
@include media-query-max(320px) {
    .mbsc-material .mbsc-sc-whl-gr {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}